<div class="clr footer">
	<div class="footerwrap">
		<div class="footNav">
			<a href="javascript:void(0)" title="关于我们">关于我们</a>
			<a href="javascript:void(0)" title="服务项目">服务项目</a>
			<a href="javascript:void(0)" title="书然动态">书然动态</a>
			<a href="javascript:void(0)" title="合作伙伴">合作伙伴</a>
			<a href="javascript:void(0)" title="联系我们">联系我们</a>
			<a class="bn" href="javascript:void(0)" title="版权声明">版权声明</a>
		</div>
		<p class="footDesc">
			<span>COPYRIGHT © 2011-2014 ShangHai ShowLife Culture Dissemination Co.,Ltd.</span>
			<span class="phoneDesc">电话：021-69976089</span>
			<span class="icpDesc">沪ICP备：888888888号</span>
		</p>
		<div class="shangbiao">
			<a href="javascript:;"><img src="/public/images/xinweb.png" alt=""></a>
			<a href="javascript:;"><img src="/public/images/xinweb.png" alt=""></a>
			<a href="javascript:;"><img src="/public/images/xinweb.png" alt=""></a>
		</div>
	</div>
</div>

<script src='/public/js/appjs/common.js'></script>
<% if(jsFile){ %>
	<% if(environment === 'production'){ %>
	<script src="/public/dist<%= jsFile %>"></script>
	<% } else { %>
	<script src="<%= jsFile %>"></script>
	<% } %>
<% } %>
<!-- <script src="http://127.0.0.1:35729/livereload.js?snipver=1" type="text/javascript"></script> -->
</body>
<html>