<% include ../partials/headerwap.html %>
<div id="growUpC">
	<div class="growUpTp">
		<h2><span>日益升</span>系列&nbsp;<em>期限3-15天</em></h2>
		<p><em>12.<span>0</span><span style="font-weight: normal">%</span></em>&nbsp;&nbsp;预期年化收益率</p>
	</div>
	<div class="growUpMd">
		<ul>
			<li>
				<div class="grdhot">
					该系列项目已有<span>30</span>人次投资
					<em><img src="/images/home/growingUp_03.png" alt="hot"></em>
				</div>
			</li>
			<li>
				平台近7天成交额<span>2000000</span>元
			</li>
		</ul>
		<div class="growUpqB">
			<a href="javascript:;" class="growUpDQ" id="jumpToInvest" title="立即抢标"></a>
		</div>
		<a class="growUpHb" href="#ac=act.redsix"><img src="/images/home/growingUp_10.png" alt="6月新手注册得红包"></a>
		<div class="growUpBz">
			<span>平台100%本息担保,银行级安全保障</span>
		</div>
	</div>
</div>
<% include ../partials/footerwap.html %>