<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta name="author" content="upg"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
  <meta name="format-detection" content="telephone=no"/>
  <meta name="mobile-webapp-frame-capable" content="yes"/>
  <meta name="mobile-webapp-frame-status-bar-style" content="black"/>
  <meta name="description" content="鑫合汇">
  <meta name="keywords" content="鑫合汇">
  <title><%= title %></title>
</head>
<body>
  头部