$num_50:50px;
$grayDd:#dddddd;
$solid:solid;
@mixin ovhidden{
	overflow:hidden;
}
%ovhidden{
	@include ovhidden;
}
@mixin mt15{
    margin-top:15px;
}

.stepBox{
	height: 70px;
	margin: 15px 10px;
	@include clearfix;
	.steplist{
      width:95%; 
      margin: auto;
	 li{
	  @include float;
	  height: 0px;
	  border-bottom: #eaeaea 10px $solid;
	  margin:20px 0 0;
	  position: relative;
	  p{
	  	display: block;
	  	font:100%/30px $fontHeiTi;
	  	color:#8e8e8e;
	  	position: absolute;
	  	top:25px;
	  	left:-10px;
	  	&.p_two{
	  		/* margin:0 0 0 -20px; */
	  		left:-25px;
	  	}
	  	&.p_last{
	  		/* margin:0 -28px 0 0  ; */
	  		right:-20px;
	  		width:60px;
	  	}
	  	&.cur{
	  		color:#3e87c3;
	  	}
	  }
	  span{
         width: 40px;
         height: 40px;
         border-radius: $num_50;
         background: #eaeaea;
         @include inline-block ;
         text-align: center;
          margin:-50% 0 0;
         font:1.6em/40px Microsoft Yahei;
         .num{
            color:$white;
            
         }
         .icn{
         	vertical-align: top;
         }
         &.cur{
	  	background:#3e87c3;
	  }
	  }
	  &.first{
	    width:43%;
	    span{
	    	margin:-50% 0 0 -5px;
	    }
	  }
	  &.two{
         width:43%;
	  }
	  &.last{
         width:10%;
         text-align: right;
         span{
	    	margin:-50% -5px 0 0 ;
	    }
	  }
	  &.cur{
	  	border-bottom: #3e87c3 10px $solid;
	  }
	}
}
}
.step_input1{
	background:#ffffff url(/images/head.png) no-repeat 10px 8px;
}
.step_input2{
	background:#ffffff url(/images/lock.png) no-repeat 10px 8px;
}
.step_input3{
	background:#ffffff url(/images/img_email.png) no-repeat 10px 15px;
   &.step_input3_04{
     margin:8px 10px 0;
   }
}

.step_input4{
	background:#ffffff url(/images/img_sz.png) no-repeat 10px 15px;
}
.wei_note{
	line-height: 25px;
	color: $grayDark;
	padding:3% 0 0 10px;
    &.wei_notePn{
        padding:0 0 0 10%;
        @include rem_font_size(1.2);
    }
	em{
		display: block;
		padding:0 0 0 25px;
		color: $grayDark;
        background:url(/images/not.png) no-repeat 0 1px;		
	}
}
.mt50{
	margin-top:$num_50;
}
.yellow{
	color:$yellow;
}
.proTabs_li{
 @include ovhidden;
  background:$white;
  margin:0 0 15px;
	li{
		@include float;
    	width:33.3%;
    	height: 35px;
    	line-height: 35px;
    	text-align:center;
        @include rem-font-size(1.8);
    	border-bottom:#ffffff $solid 4px;
    	a{
    		color:#598497;
    		&:hover{
    			color:#464646;
    		}
    	}
     &.cur{
     	border-bottom:#1386e4 $solid 4px;
     	a{color:#464646;}
     }
	}
}
.wei_proList{
  width: 98%; 
  margin:auto;
	li{
       @include ovhidden;
       border:$grayDd $solid 1px;
       margin:0 0 10px;
       background: $white;
       .listLt{
         @extend %float;
         width:23%;
         padding:14px 2% 2%;
         .wei_perc{
         	color:#b5b5b5;
         	position:relative;
         	text-align: center;
         	height: 38px;
         	font-family: $fontYaHei;
         	em{
         		@include rem-font-size(3);
         	}
         }
         .wei_percB{
            background:url(/images/fullbiao.png) no-repeat center;background-size:auto 38px;
        }
         .wei_repay{
            clear: both;
            @include border-radius(3px);
            display:block;
            height:25px; 
            line-height: 25px; 
            text-align: center;
            color:$white;
            background:#b5b5b5;
         }
         .wei_time{
            color:#3c3a37;
            text-align: center;
            @include rem-font-size(0.8);
            @include border-radius(3px);
            
            &.bgBlue{
            	background: #2b7ec2;
            	color:$white;
            	margin-bottom: 2px;
            	padding:2px;
            }
            &.bgGray{
            	background:#b5b5b5;
            	color:$white;
            }
            em{
            	    @include rem-font-size(1.2);
            		display: block;
            	}

         }
       }
       .listRt{
         /* @extend %float;
         width:65%; */
         border-left:$grayDd $solid 1px;
         margin-left:27%;
         padding:2%;
         h4{
         	width:100%;
         	display: block;
         	line-height: 25px;
             @include rem-font-size(1.6);
         	a{
         		color:#3c3a37;
         	}
         }
         .listTxt{
         	@include ovhidden;
         	color:$orange;
         	em{
         		color:#3c3a37;
         	}
            span{color:#3c3a37;
                display: block;
            }
            .pl15{
				color:#3c3a37;
            	position:relative;
            	left:5px;
            	em{
            		color:$orange
            	}
            }
         }

       }
	}
}
.bao_icn{
	background:url(/images/bao.png) no-repeat;
	width:20px;
	height: 24px;
	vertical-align:middle;
	position:relative;
	left:10px;
	@include inline-block;
}
.wei_profile{
	border-top:$grayDd $solid 1px;
	border-left:$grayDd $solid 1px;
	margin:20px 10px;
	li{
		@include ovhidden;
		height: 35px;
		line-height: 35px;
		border-bottom:$grayDd $solid 1px;
	    border-right:$grayDd $solid 1px;
		.proName{
			width:30%;
			text-align: center;
			border-right:$grayDd $solid 1px;
		}
		.proNameRt{
			width:64%;
			padding: 0 0 0 3%;
			position:relative;
            .user_anquan{
                padding:0; 
                line-height: 35px;
                .jinduTT1{
                    margin:0 5px 0 0;
                }
				.jinduTHK{ width:110px;}
            }
			a{
				display: block;
				background: url(/images/goleft.png) no-repeat right 45%;
			}
		}
	}
}
.wei_payMent{
    padding:0 10px;
    &.mt15{
        @include mt15;
    }
}
.wei_txt{
    line-height: 30px; 
    color:#888888;
     border-top: #cbcbcb $solid 1px;
     @include box-shadow(inset  0 2px 1px #eeeeee);
     padding:0 10px;
 }
.wei_payMoney{
    border:#dcdcdc $solid 1px;
    background:$white;
    &.mt15{
        @include mt15;
    }
    &.firstTops{
        border-bottom:0;
        .wei_headTop{
            border-bottom:0;
        }
    }
    .wei_headTop{
        background: #f2f8fb;
        border-bottom:#dcdcdc $solid 1px;
        height: 45px;
        padding:0;
        .wei_titleName{
            @include inline-block ;
            vertical-align: middle;
            width:23%;
			padding-left:2%;
            line-height: 45px;
            color:#555555;
			float:left;
        }
		
     &.wei_headTop_mD{
          .wei_titleName{
           /*  width:32%; */
            &.wei_titleName_01{
               width:30%;
            }
             &.wei_titleName_02{
                width:38%;
            }
             &.wei_titleName_03{
                width:28%;
            }
          }
        }
    }
    .wei_contText{
        width:96%;
        padding:0 2%;
       .wei_contTxt{
        @include inline-block ;
        vertical-align: middle;
         width:24%;
         color:#3aace3;
         height:$num_50;
         line-height: $num_50;
         &.wei_contTxtF{
            width:23%;
            padding:0 0 0 1%;
         }
       }
       &.wei_contText_Md{
          padding:2%;
          p{
            height: 25px;
            color:#939496;
          }
          .wei_contTxt{
            /* width:32%; */
            height: 25px;
            line-height: 25px;
            color:#666666;
            &.wei_contTxt_01{
                width:28%;
            }
            &.wei_contTxt_02{
                width:38%;
            }
             &.wei_contTxt_03{
                width:28%;
            }
            em{
                color: #3aace3;
            }
          }
       }
    }
}
.wei_titleNameF{ position:relative;}
.wei_titleNameF em{ position:absolute; height:16px; line-height:16px; padding-left:6px; bottom:-18px; left:5%; display:block; color:#c3c3c4;}

.m_red{color:$red;}
.m_green{color:$green;}
.m_gray{color:$gray;}
.wei_payMoneyList{
    border:#e1e1e1 $solid 1px;
    padding:2% 0 0 1%;
    margin:3% 0 0;
    color:#959595;
    .wei_payListBox{
        border-left:#ff8500 $solid 2px;
        padding:0 0 0 1%;
        .top{
            background:#f2f8fb;
            @include min-height(30);
            line-height: 30px;
            em{
                @include inline-block;
                vertical-align: middle;
                width:24%;
                &.topT{color:#ff8500;}
            }
        }
        .wei_payTime{
             @include min-height(30);
            line-height: 30px;
            em{
                @include inline-block;
                vertical-align: middle;
                width:30%;
                &.ptime{
                    width:45%
                }
            }
        }
        &.event{
            border-left:#57b69a $solid 2px;
            em.topT{color:#57b69a;}
        }
    }
}
.dealTitle{
    color:#2b7ec2;
    background:#f9f9f9;
    @include rem-font-size(1.6);
    @include min-height(40px);
    line-height: 40px;
    display: block;
    padding:0 0 0 5%;
    @include horizontal-line(#dedede 1px $solid, 0);
}
.dearlContent{
    padding:2%  5% 0;
    p{
        line-height: 35px;
        &.mt15{
            @include mt15;
        }
        em{
        color:#c7c7c7;
    }
    }   
}
.wei_refillBox{
    padding:0 5%;
}
.wei_refill{
    height: $num_50;
    line-height: $num_50;
    span{
        color:#464646;
        @include rem_font_size(2);
        em{
        color:$blue;
    }
    }
}
.newGuid_lastp{
    color:$gray;
    padding:10% 0 0;
}
.weixin_DH .listMenu{
    position: absolute;
    right:3%;
    top:16px;
    width:10%;
    height:18px;
    text-indent: -9999px;
    @include ovhidden;
    background:url(/images/menumenu.png) no-repeat;
	background-size:21px 18px;
}
.chlidrenlist{
    position: absolute;
    right:5%;
    width:38%;
    top:48px;
    @include border-radius(5px);
    background:url(/images/listbg.png) repeat;
    .upArrow{
        background:url(/images/upArrow.png) repeat;
        width:22px; height:11px;
        display:block;
        position: absolute;
        right:5%;
        top:-10px;
    }
    .listContents {
        li{
            height: 40px;
            line-height: 40px;
            text-align: center;
            @include rem-font-size(1.6);
            border-bottom:#484848 solid 1px;
            border-top:#6c6c6c solid 1px;
            a{
                color:#ffffff;
            }
            &.first{border-top:none;}
            &.last{border-bottom:none;}
        }
    }

}

.moneyRecInfo{
   border:#dedede $solid 1px;
   margin:0 2%;
    &.moneyRecList{
        border:none;
        margin:0;
    }
   .infoList{
    padding:0 2%;
    li{
        border-bottom:#eeeeee $solid 1px;
        line-height: 30px; 
        padding:15px 0;
        overflow: hidden;
        .em{
            color:#888888;
            float:left;
        }
        span{
            float:left;
            &.lastSpan{
                width:85%;
            }
        }
        &.last{
            border:none;
        }
    }
   }
    .recTable{
        width:100%;
        @include table-radius(0);
        thead{
        @include table-thead(#f9f9f9, #555555);
            th{
                width:33%;
                height:35px;
                line-height: 35px;
                text-align: left;
                border-bottom:#dedede $solid 1px;
                &.firstPd{
                    padding: 0 0 0 1%
                }
            }
        }
        tbody{
            td{
                border-bottom:#eeeeee $solid 1px;
                line-height: 25px;
                padding:2% 0;
                &.firstPd{
                    padding: 2% 0 2% 1%
                }
            }
        }
    } 
}
.orange{
    color:$orange;
}
.ui-refresh-down{
    text-align: center;
    height: 25px; 
    line-height: 25px;
    @include rem-font-size(1.2);
}
.ui-dialog .ui-dialog-content{
    height: 100%;
    overflow-y: auto;
}
.ui-dialog .ui-dialog-close{
    background:url(/images/close.png) no-repeat;
    padding: 10px;
}
.ui-dialog .ui-dialog-title{
    height: 35px; 
    line-height: 35px;
    border-bottom: #afafbc $solid 2px;
    background:$white;
    color:$black;
    @include rem-font-size(1.8);
}
.ui-dialog{
    background:rgba(102,102,102,.9);color:$white;border-radius:8px;box-shadow:none;
}
.ui-dialog-content{
    background:url(/images/error.png) no-repeat 35px 8px;background-size:auto 20px;padding:8px 33px 8px 60px!important;
}
.toggleDs{
    display: none;
}
.ui-panel{background:rgba(34,39,43,.9)!important;width:48%;height:100%;padding:0;}
.menulist li{border-top:1px solid rgba(216,216,216,.3);text-align:center;}
.menulist li:first-child{border-top:0 none}
.menulist li a{color:#fff!important;height:49px;line-height:49px;display:block}