.contactBanner{
	@extend .caseBanner;
	background: url("/public/images/contact_bg.png");
}
.contactMain{
	.contactRightBody{
		padding-bottom: 50px;
		.ourInfo{
			margin-top: 25px;
			height: 315px;
			padding-left: 60px;
			width: 700px;
			background: url("/public/images/contact_lady.png") right center no-repeat;
			h1{
				color: $weightColor;
				font-family: "Microsoft YaHei";
				font-size: 24px;
				padding: 30px 0 15px 0;
			}
			ul{
				li{
					@include height(32px);
					font-family: "Arial";
					font-size: 16px;
					color: $commonFontColor;
					font-weight: bolder;
				}
			}
		}
		.ourMap{
			margin-left: 40px;
		}
	}
}