.newsBanner{
	@extend .caseBanner;
	background: url("/public/images/news_bg.png");
}
.newsRightBody{
	padding-bottom: 60px;
	ul{
		padding: 14px 0 0 10px;
		li{
			@include height(34px);
			padding-left: 22px;
			border-bottom: 1px dotted #D4D4D4;
			background: url("/public/images/news_dot.png") 10px center no-repeat;
			a{
				@extend .caseListFont;
				color: $commonFontColor;
				&:hover {
					color: $hoverColor;
				}
			}
			span{
				float: right;
				color: #B5B5B5;
			}
		}
	}
}