<% include ../partials/header.html %>

<!-- banner 开始 -->
<div class="topBanner">
	<div class="aboutBanner">关于我们</div>
</div>
<!-- banner 结束 -->

<!-- 关于我们主体内容 开始 -->
<div class="caseMain">
	<!-- 右侧内容 开始 -->
	<div class="caseRight fr">
		<div class="rightTitle">
			<p class="rightNav">
				您的当前位置：<a href="javascrit:;" title="首页">首页</a> > <a href="javascrit:;" title="关于我们">关于我们</a> > <strong>书然简介</strong>
			</p>
			<span>关于我们</span>
		</div>
		<div class="aboutRightBody">
			<p class="ourWords">
				上海书然为梦想而生<br>
				梦想只要堅持，就能成为现实。我们不都是在為梦想而努力嗎？<br>
				¬——走進上海书然<br>
				2011年6月，上海，爱好摄影的几个人走到了一起，建立属于自己的小小工作室。<br>
				2011年7月，杭州，“FOR摄影工作室”正式成立，渺小的梦想在著名的景点西溪湿地边的阁楼生根发芽《FOR》为我们最初的启航。<br>
				2012年3月，上海，FOR摄影工作室回到梦开始的地方，转战微电影领域。青春动起来，梦想飞起来。FOR与上海地铁、上海宝安、雅培等等企业成功牵手合作。<br>
				2013年2月，上海，公司转移。随着团队的扩大，更考验我们每个人，我们看到了差距，曾经历迷茫。但是，通过不断的努力摸索，工作室初步设定了适合自身的业务方向：拍摄、制作企业宣传片；微电影。先后为数十家公司服务，梦想渐渐落地。<br>
				2014年3月，上海书然文化传播有限公司成立。书，代表传统规范；然，释义艺术创意。一个由80、90后为主体的团队渐渐成型，梦想逐渐丰满。如今上海书然正式进入中冶祥腾广场，合作企业近百家，并吸引众多志同道合的专业伙伴加盟，梦想有了坚实的基础。<br>
				2014年7月，上海书然与辽宁工程技术大学共同建立合作教育基地，以感恩的姿态服务于社会。<br>
				2014年7月16日，上海书然确立属于自己的logo和slogan，书然在静静的茁壮成长。<br>
				从最初怀揣着对摄影的爱好到如今成为传媒人在上海努力付出辛苦和汗水。我们不谈“梦想”，我们努力把这“虚无缥缈不切实际”的词，变成现实，变成珍贵的财富和动力源泉。<br>
				'书意气风发，然艺术芳华。'这句话不仅是我们的slogan，我们更是用自己的青春在努力践行着。用我们的意气风发为客户留下最美丽的瞬间，挖掘最核心的商业和艺术价值，同时也书写我们自己的美丽！让我们与你共同收获、共同记忆芳华。
			</p>
			<div class="ourPhoto">
				<img src="/public/images/about_us_photo1.png" alt="">
				<img src="/public/images/about_us_photo2.png" alt="">
			</div>
		</div>
	</div>
	<!-- 右侧内容 结束 -->

	<!-- 左边导航 开始 -->
	<div class="caseLeft">
		<h3 class="leftTitle">关于我们</h3>
		<ul>
			<li class="current">
				<a href="javascript:;" title="书然简介">书然简介</a>
			</li>
			<li>
				<a href="javascript:;" title="书然文化">书然文化</a>
			</li>
			<li>
				<a href="javascript:;" title="设备介绍">设备介绍</a>
			</li>
		</ul>
		<dl>
			<dt class="serviceItems">服务项目</dt>
			<dd class="movieItem"><a href="javascript:;" title="影视服务">影视服务</a></dd>
			<dd class="otherItem"><a href="javascript:;" title="其他服务">其他服务</a></dd>
		</dl>
	</div>
	<!-- 左边导航 结束 -->
</div>
<!-- 关于我们主体内容 结束 -->

<% include ../partials/footer.html %>