<% include ../partials/header.html %>

<!-- banner 开始 -->
<div class="topBanner">
	<div class="caseBanner">合作伙伴</div>
</div>
<!-- banner 结束 -->

<!-- 合作伙伴主体内容 开始 -->
<div class="caseMain">
	<!-- 右侧内容 开始 -->
	<div class="caseRight fr">
		<div class="rightTitle">
			<p class="rightNav">
				您的当前位置：<a href="javascrit:;" title="首页">首页</a> > <a href="javascrit:;" title="合作伙伴">合作伙伴</a> > <strong>合作伙伴</strong>
			</p>
			<span>合作伙伴</span>
		</div>
		<div class="caseRightBody">
			<ul>
				<li><a href="javascript:;" target="_blank" title="百年樟"><img src="/public/img/bnz.png" alt="百年樟"></a></li>
				<li><a href="javascript:;" target="_blank" title="上海保安"><img src="/public/img/shanghai_secuity.png" alt="上海保安"></a></li>
				<li><a href="javascript:;" target="_blank" title="东华大学"><img src="/public/img/east_university.png" alt="东华大学"></a></li>
				<li class="mr0"><a href="javascript:;" target="_blank" title="海派"><img src="/public/img/haipai.png" alt="海派"></a></li>
				<li><a href="javascript:;" target="_blank" title="sofo"><img src="/public/img/sofo.png" alt="sofo"></a></li>
				<li><a href="javascript:;" target="_blank" title="红星美凯龙"><img src="/public/img/macaline.png" alt="红星美凯龙"></a></li>
				<li><a href="javascript:;" target="_blank" title=""><img src="/public/img/naturally.png" alt=""></a></li>
				<li><a href="javascript:;" target="_blank" title="新浪上海"><img src="/public/img/sina.png" alt="新浪上海"></a></li>
				<li><a href="javascript:;" target="_blank" title="明德"><img src="/public/img/meitoku.png" alt="明德"></a></li>
				<li><a href="javascript:;" target="_blank" title="investment"><img src="/public/img/investment.png" alt="investment"></a></li>
				<li><a href="javascript:;" target="_blank" title="迈卓牛排房"><img src="/public/img/manzo.png" alt="迈卓牛排房"></a></li>
				<li><a href="javascript:;" target="_blank" title="上海地铁"><img src="/public/img/metro.png" alt="上海地铁"></a></li>
				<li><a href="javascript:;" target="_blank" title="R-tech"><img src="/public/img/rtech.png" alt="R-tech"></a></li>
				<li><a href="javascript:;" target="_blank" title="爱尔格丽"><img src="/public/img/airgeli.png" alt="爱尔格丽"></a></li>
				<li><a href="javascript:;" target="_blank" title="SSJD"><img src="/public/img/milk.png" alt="SSJD"></a></li>
			</ul>
		</div>
	</div>
	<!-- 右侧内容 结束 -->

	<!-- 左边导航 开始 -->
	<div class="caseLeft">
		<h3 class="leftTitle">合作伙伴</h3>
		<ul>
			<li>
				<a href="javascript:;" title="合作伙伴">合作伙伴</a>
			</li>
		</ul>
		<dl>
			<dt class="serviceItems">服务项目</dt>
			<dd class="movieItem"><a href="javascript:;" title="影视服务">影视服务</a></dd>
			<dd class="otherItem"><a href="javascript:;" title="其他服务">其他服务</a></dd>
		</dl>
	</div>
	<!-- 左边导航 结束 -->
</div>
<!-- 合作伙伴主体内容 结束 -->

<% include ../partials/footer.html %>