<% include ../partials/header.html %>

<!-- banner 开始 -->
<div class="topBanner">
	<div class="contactBanner">联系我们</div>
</div>
<!-- banner 结束 -->

<!-- 联系我们主体内容 开始 -->
<div class="caseMain contactMain">
	<!-- 右侧内容 开始 -->
	<div class="caseRight fr">
		<div class="rightTitle">
			<p class="rightNav">
				您的当前位置：<a href="javascrit:;" title="首页">首页</a> > <a href="javascrit:;" title="联系我们">联系我们</a> > <strong>联系我们</strong>
			</p>
			<span>联系我们</span>
		</div>
		<div class="contactRightBody">
			<div class="ourInfo">
				<h1>上海书然文化传播有限公司</h1>
				<ul>
					<li>电话：021-69976089</li>
					<li>手机：13917585979</li>
					<li>QQ：625940008</li>
					<li>邮箱：625940008@qq.com</li>
					<li>地址：上海市嘉定区南翔镇中冶祥腾城市广场02座1015室</li>
				</ul>
			</div>
			<div class="ourMap">
				<img src="/public/images/contact_map.png" alt="地图-上海书然文化传播有限公司">
			</div>
		</div>
	</div>
	<!-- 右侧内容 结束 -->
	
	<!-- 左边导航 开始 -->
	<div class="caseLeft">
		<h3 class="leftTitle">联系我们</h3>
		<ul>
			<li>
				<a href="javascript:;" title="联系我们">联系我们</a>
			</li>
		</ul>
		<dl>
			<dt class="serviceItems">服务项目</dt>
			<dd class="movieItem"><a href="javascript:;" title="影视服务">影视服务</a></dd>
			<dd class="otherItem"><a href="javascript:;" title="其他服务">其他服务</a></dd>
		</dl>
	</div>
	<!-- 左边导航 结束 -->
</div>
<!-- 联系我们主体内容 结束 -->

<% include ../partials/footer.html %>