<% include ../partials/header.html %>

<!-- banner 开始 -->
<div class="topBanner">
	<div class="newsBanner">书然动态</div>
</div>
<!-- banner 结束 -->

<!-- 书然动态主体内容 开始 -->
<div class="caseMain">
	<!-- 右侧内容 开始 -->
	<div class="caseRight fr">
		<div class="rightTitle">
			<p class="rightNav">
				您的当前位置：<a href="javascrit:;" title="首页">首页</a> > <a href="javascrit:;" title="书然动态">书然动态</a> > <strong>书然动态</strong>
			</p>
			<span>书然动态</span>
		</div>
		<!-- 动态列表 开始 -->
		<div class="newsRightBody">
			<ul>
				<li><span>2014-09-18</span><a href="javascript:;" title="最新获奖最新获奖最新获奖最新获奖最新获奖">最新获奖最新获奖最新获奖最新获奖最新获奖</a></li>
				<li><span>2014-09-18</span><a href="javascript:;" title="最新获奖最新获奖最新获奖最新获奖最新获奖">最新获奖最新获奖最新获奖最新获奖最新获奖</a></li>
				<li><span>2014-09-18</span><a href="javascript:;" title="最新获奖最新获奖最新获奖最新获奖最新获奖">最新获奖最新获奖最新获奖最新获奖最新获奖</a></li>
				<li><span>2014-09-18</span><a href="javascript:;" title="最新获奖最新获奖最新获奖最新获奖最新获奖">最新获奖最新获奖最新获奖最新获奖最新获奖</a></li>
				<li><span>2014-09-18</span><a href="javascript:;" title="最新获奖最新获奖最新获奖最新获奖最新获奖">最新获奖最新获奖最新获奖最新获奖最新获奖</a></li>
				<li><span>2014-09-18</span><a href="javascript:;" title="最新获奖最新获奖最新获奖最新获奖最新获奖">最新获奖最新获奖最新获奖最新获奖最新获奖</a></li>
				<li><span>2014-09-18</span><a href="javascript:;" title="最新获奖最新获奖最新获奖最新获奖最新获奖">最新获奖最新获奖最新获奖最新获奖最新获奖</a></li>
				<li><span>2014-09-18</span><a href="javascript:;" title="最新获奖最新获奖最新获奖最新获奖最新获奖">最新获奖最新获奖最新获奖最新获奖最新获奖</a></li>
				<li><span>2014-09-18</span><a href="javascript:;" title="最新获奖最新获奖最新获奖最新获奖最新获奖">最新获奖最新获奖最新获奖最新获奖最新获奖</a></li>
				<li><span>2014-09-18</span><a href="javascript:;" title="最新获奖最新获奖最新获奖最新获奖最新获奖">最新获奖最新获奖最新获奖最新获奖最新获奖</a></li>
			</ul>
			<!-- 分页 开始 -->
			<div class="pageBlock">
				<a href="javascript:;">上一页</a>
				<a href="javascript:;">1</a>
				<a href="javascript:;" class="current">2</a>
				<a href="javascript:;">3</a>
				<span>...</span>
				<a href="javascript:;">8</a>
				<a href="javascript:;" class="mr0">下一页</a>
			</div>
		</div>
		<!-- 动态列表 结束 -->
	</div>
	<!-- 右侧内容 结束 -->
	
	<!-- 左边导航 开始 -->
	<div class="caseLeft">
		<h3 class="leftTitle">书然动态</h3>
		<ul>
			<li class="current">
				<a href="javascript:;" title="书然动态">书然动态</a>
			</li>
		</ul>
		<dl>
			<dt class="serviceItems">服务项目</dt>
			<dd class="movieItem"><a href="javascript:;" title="影视服务">影视服务</a></dd>
			<dd class="otherItem"><a href="javascript:;" title="其他服务">其他服务</a></dd>
		</dl>
	</div>
	<!-- 左边导航 结束 -->
</div>
<!-- 书然动态主体内容 结束 -->

<% include ../partials/footer.html %>