<% include ../partials/header.html %>

<!-- banner 开始 -->
<div class="topBanner">
	<div class="worksBanner">作品展示</div>
</div>
<!-- banner 结束 -->

<!-- 作品展示主体内容 开始 -->
<div class="caseMain">
	<!-- 右侧内容 开始 -->
	<div class="caseRight fr">
		<div class="rightTitle">
			<p class="rightNav">
				您的当前位置：<a href="javascrit:;" title="首页">首页</a> > <a href="javascrit:;" title="作品展示">作品展示</a> > <strong>微电影</strong>
			</p>
			<span>作品展示</span>
		</div>
		<!-- 动态列表 开始 -->
		<div class="worksRightBody clr">
			<ul>
				<li>
					<a href="/showlife/worksview" title="【平面设计】Sofo索弗">
						<img src="/public/img/worksimg1.png" alt="【平面设计】Sofo索弗">
						<p>【平面设计】Sofo索弗</p>
					</a>
				</li>
				<li>
					<a href="/showlife/worksview" title="【平面设计】Sofo索弗">
						<img src="/public/img/worksimg1.png" alt="【平面设计】Sofo索弗">
						<p>【平面设计】Sofo索弗</p>
					</a>
				</li>
				<li class="mr0">
					<a href="/showlife/worksview" title="【平面设计】Sofo索弗">
						<img src="/public/img/worksimg1.png" alt="【平面设计】Sofo索弗">
						<p>【平面设计】Sofo索弗</p>
					</a>
				</li>
				<li>
					<a href="/showlife/worksview" title="【平面设计】Sofo索弗">
						<img src="/public/img/worksimg1.png" alt="【平面设计】Sofo索弗">
						<p>【平面设计】Sofo索弗</p>
					</a>
				</li>
				<li>
					<a href="/showlife/worksview" title="【平面设计】Sofo索弗">
						<img src="/public/img/worksimg1.png" alt="【平面设计】Sofo索弗">
						<p>【平面设计】Sofo索弗</p>
					</a>
				</li>
				<li class="mr0">
					<a href="/showlife/worksview" title="【平面设计】Sofo索弗">
						<img src="/public/img/worksimg1.png" alt="【平面设计】Sofo索弗">
						<p>【平面设计】Sofo索弗</p>
					</a>
				</li><li>
					<a href="/showlife/worksview" title="【平面设计】Sofo索弗">
						<img src="/public/img/worksimg1.png" alt="【平面设计】Sofo索弗">
						<p>【平面设计】Sofo索弗</p>
					</a>
				</li>
				<li>
					<a href="/showlife/worksview" title="【平面设计】Sofo索弗">
						<img src="/public/img/worksimg1.png" alt="【平面设计】Sofo索弗">
						<p>【平面设计】Sofo索弗</p>
					</a>
				</li>
				<li class="mr0">
					<a href="/showlife/worksview" title="【平面设计】Sofo索弗">
						<img src="/public/img/worksimg1.png" alt="【平面设计】Sofo索弗">
						<p>【平面设计】Sofo索弗</p>
					</a>
				</li>
			</ul>
			<!-- 分页 开始 -->
			<div class="pageBlock">
				<a href="javascript:;">上一页</a>
				<a href="javascript:;">1</a>
				<a href="javascript:;" class="current">2</a>
				<a href="javascript:;">3</a>
				<span>...</span>
				<a href="javascript:;">8</a>
				<a href="javascript:;" class="mr0">下一页</a>
			</div>
		</div>
		<!-- 动态列表 结束 -->
	</div>
	<!-- 右侧内容 结束 -->
	
	<!-- 左边导航 开始 -->
	<div class="caseLeft worksLeft">
		<h3 class="leftTitle">作品展示</h3>
		<ul>
			<li class="current">
				<a href="javascript:;" title="宣传片">宣传片</a>
			</li>
			<li>
				<a href="javascript:;" title="广告片">广告片</a>
			</li>
			<li>
				<a href="javascript:;" title="微电影">微电影</a>
			</li>
			<li>
				<a href="javascript:;" title="个人MV">个人MV</a>
			</li>
			<li>
				<a href="javascript:;" title="平面拍摄">平面拍摄</a>
			</li>
			<li>
				<a href="javascript:;" title="平面设计">平面设计</a>
			</li>
			<li>
				<a href="javascript:;" title="三维动画制作">三维动画制作</a>
			</li>
		</ul>
		<dl>
			<dt class="serviceItems worksContactBg">联系我们</dt>
			<dd class="phoneBg"><a href="javascript:;" title="021-69976089">021-69976089</a></dd>
			<dd class="mobileBg"><a href="javascript:;" title="13917585979">13917585979</a></dd>
			<dd class="emailBg"><a href="javascript:;" title="625940008@qq.com">625940008@qq.com</a></dd>
		</dl>
	</div>
	<!-- 左边导航 结束 -->
</div>
<!-- 作品展示主体内容 结束 -->

<% include ../partials/footer.html %>